/* 
======================
UTILITIES
======================
*/
/* EJEMPLO respond-to
.foo {
  color: red;
  @include respond-to('small') {
    color: blue;
  }
}
*/
/* 
======================
BASE
======================
*/
* {
  box-sizing: border-box; }

body {
  font-size: 15px;
  font-family: Montserrat, sans-serif;
  color: #6d708d;
  background-color: #f6f6fe;
  background-image: url(/images/bg-top.svg);
  background-repeat: no-repeat;
  background-position: right top;
  margin: 0; }
  @media (min-width: 1440px) {
    body {
      background-image: url(/images/bg-top.svg), url(/images/bg-bottom.svg);
      background-position: right top, left bottom;
      background-repeat: no-repeat, no-repeat; } }

/* 
======================
LAYOUT
======================
*/
.pricing {
  width: 375px;
  margin: 0 auto;
  padding: 0 24px; }
  @media (min-width: 1440px) {
    .pricing {
      width: 1440px; } }

.header {
  text-align: center;
  padding: 3.5rem 0; }
  @media (min-width: 1440px) {
    .header {
      width: 375px;
      margin: 0 auto;
      padding: 3.5rem 24px; } }
  .header__nav {
    height: 4rem;
    padding: 0 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #b3b5c6; }

@media (min-width: 1440px) {
  .cards {
    display: flex;
    justify-content: center;
    width: 1440px; } }

footer {
  margin-top: 50px; }

/* 
======================
COMPONENTS
======================
*/
.switchBtn {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 32px; }
  .switchBtn input {
    display: none; }
    .switchBtn input:checked + .slide {
      padding-left: 40px; }
    .switchBtn input:checked + .slide:before {
      transform: translateX(26px);
      left: -20px; }
  .switchBtn .slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, #a3a8f0, #696fdd);
    transition: 0.4s;
    padding: 6px;
    color: #fff; }
    .switchBtn .slide:hover {
      background: linear-gradient(90deg, rgba(163, 168, 240, 0.5), rgba(105, 111, 221, 0.5)); }
    .switchBtn .slide:before {
      position: absolute;
      content: "";
      height: 24px;
      width: 24px;
      left: 28px;
      bottom: 4px;
      background-color: white;
      transition: 0.4s; }
    .switchBtn .slide.round {
      border-radius: 32px; }
    .switchBtn .slide.round:before {
      border-radius: 50%; }

.card {
  border-radius: 10px;
  padding: 20px 29px 32px;
  margin-bottom: 32px;
  text-align: center;
  background-color: white; }
  @media (min-width: 1440px) {
    .card {
      width: 350px; }
      .card:nth-child(2n + 1) {
        margin-top: 24px;
        margin-bottom: 56px; }
      .card:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
      .card:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; } }
  .card__price {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5em;
    color: #494c5f; }
    .card__price span {
      font-size: 0.6em;
      padding-right: 0.1em; }
  .card__specs {
    border-top: 1px solid #b3b5c6;
    margin: 1.5em 0; }
  .card__spec {
    border-bottom: 1px solid #b3b5c6;
    padding: 1em 0; }
  .card:nth-child(2n) {
    background: linear-gradient(135deg, #a3a8f0, #696fdd);
    color: white; }
    @media (min-width: 1440px) {
      .card:nth-child(2n) {
        padding: 44px 29px 56px; } }
    .card:nth-child(2n) .card__price {
      color: white; }
    .card:nth-child(2n) .card__specs,
    .card:nth-child(2n) .card__spec {
      border-color: #a3a8f0; }
    .card:nth-child(2n) .btn {
      background: white;
      color: #696fdd; }
      .card:nth-child(2n) .btn:hover, .card:nth-child(2n) .btn:active {
        background: none;
        border: 1px solid white;
        color: white; }

.btn {
  width: 100%;
  padding: 1em 0;
  border: 1px solid white;
  border-radius: 0.5em;
  background: linear-gradient(90deg, #a3a8f0, #696fdd);
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white; }
  .btn:hover, .btn:active {
    background: none;
    border: 1px solid #494c5f;
    color: #696fdd; }

.hidden {
  display: none; }
