/* 
======================
UTILITIES
======================
*/
/* EJEMPLO respond-to
.foo {
  color: red;
  @include respond-to('small') {
    color: blue;
  }
}
*/
/* 
======================
BASE
======================
*/
* {
  box-sizing: border-box; }

body {
  background-color: #a3a8f0; }

/* 
======================
LAYOUT
======================
*/
footer {
  margin-top: 50px; }

/* 
======================
COMPONENTS
======================
*/
