/* 
======================
UTILITIES
======================
*/

// colors
// -------------------------


// fonts
// -------------------------

// breakpoints
// -------------------------
$bp-sm: 375px; // mobile
$bp-lg: 1440px; // desktop

$breakpoints: (
	"sm": $bp-sm,
	"lg": $bp-lg,
) !default;

/* EJEMPLO respond-to
.foo {
  color: red;
  @include respond-to('small') {
    color: blue;
  }
}
*/

@mixin respond-to($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media (min-width: map-get($breakpoints, $breakpoint)) {
			@content;
		}
	} @else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
	}
}



/* 
======================
BASE
======================
*/


// reset
// -------------------------

* {
	box-sizing: border-box;
}

// body
// -------------------------


/* 
======================
LAYOUT
======================
*/




// footer
// -------------------------
footer {
	margin-top: 50px;
}

/* 
======================
COMPONENTS
======================
*/




// helpers
// -------------------------


// states
// -------------------------
