/* 
======================
UTILITIES
======================
*/

// colors
// -------------------------
$color-primary-light: hsl(236, 72%, 79%);
$color-primary-dark: hsl(237, 63%, 64%);

$color-neutral-very-light: hsl(240, 78%, 98%);
$color-neutral-light: hsl(234, 14%, 74%);
$color-neutral: hsl(233, 13%, 49%);
$color-neutral-dark: hsl(232, 13%, 33%);

// fonts
// -------------------------

$font-size: 15px;
$font-family: Montserrat, sans-serif;

// breakpoints
// -------------------------
$bp-sm: 375px; // mobile
$bp-lg: 1440px; // desktop

$breakpoints: (
	"sm": $bp-sm,
	"lg": $bp-lg,
) !default;

/* EJEMPLO respond-to
.foo {
  color: red;
  @include respond-to('small') {
    color: blue;
  }
}
*/

@mixin respond-to($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media (min-width: map-get($breakpoints, $breakpoint)) {
			@content;
		}
	} @else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
	}
}

/* 
======================
BASE
======================
*/

// reset
// -------------------------

* {
	box-sizing: border-box;
}

// body
// -------------------------
body {
	font-size: $font-size;
	font-family: $font-family;
	color: $color-neutral;
	background-color: $color-neutral-very-light;

	background-image: url(../images/bg-top.svg);
	background-repeat: no-repeat;
	background-position: right top;

	margin: 0;

	@include respond-to("lg") {
	}

	@include respond-to("lg") {
		background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
		background-position: right top, left bottom;
		background-repeat: no-repeat, no-repeat;
	}
}

/* 
======================
LAYOUT
======================
*/

// pricing
// -------------------------

.pricing {
	width: $bp-sm;
	margin: 0 auto;
	padding: 0 24px;

	@include respond-to("lg") {
		width: $bp-lg;
	}
}

// header
// -------------------------

.header {
	text-align: center;
	padding: 3.5rem 0;

	@include respond-to("lg") {
		width: $bp-sm;
		margin: 0 auto;
		padding: 3.5rem 24px;
	}

	&__nav {
		height: 4rem;
		padding: 0 2rem;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		color: $color-neutral-light;
	}
}

// cards
// -------------------------
.cards {
	@include respond-to("lg") {
		display: flex;
		justify-content: center;
		width: $bp-lg;
	}
}

// footer
// -------------------------
footer {
	margin-top: 50px;
}

/* 
======================
COMPONENTS
======================
*/

// switchBtn
// -------------------------

.switchBtn {
	position: relative;
	display: inline-block;
	width: 56px;
	height: 32px;

	& input {
		display: none;

		&:checked + .slide {
			padding-left: 40px;
		}
		&:checked + .slide:before {
			-webkit-transform: translateX(26px);
			-ms-transform: translateX(26px);
			transform: translateX(26px);
			left: -20px;
		}
	}

	& .slide {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(90deg, $color-primary-light, $color-primary-dark);
		-webkit-transition: 0.4s;
		transition: 0.4s;
		padding: 6px;
		color: #fff;
		&:hover {
			background: linear-gradient(90deg, rgba($color-primary-light, 0.5), rgba($color-primary-dark, 0.5));
		}

		&:before {
			position: absolute;
			content: "";
			height: 24px;
			width: 24px;
			left: 28px;
			bottom: 4px;
			background-color: white;
			-webkit-transition: 0.4s;
			transition: 0.4s;
		}
		&.round {
			border-radius: 32px;
		}
		&.round:before {
			border-radius: 50%;
		}
	}
} // end - switchBtn

// card
// -------------------------

.card {
	$c: &; // Set the parent as a variable
	border-radius: 10px;
	padding: 20px 29px 32px;
	margin-bottom: 32px;
	text-align: center;
	background-color: white;

	@include respond-to("lg") {
		width: 350px;

		&:nth-child(2n + 1) {
			margin-top: 24px;
			margin-bottom: 56px;
		}
		&:first-child {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		&:last-child {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

	&__price {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 4.5em;
		color: $color-neutral-dark;

		span {
			font-size: 0.6em;
			padding-right: 0.1em;
		}
	}

	&__specs {
		border-top: 1px solid $color-neutral-light;
		margin: 1.5em 0;
	}
	&__spec {
		border-bottom: 1px solid $color-neutral-light;
		padding: 1em 0;
	}

	&:nth-child(2n) {
		background: linear-gradient(135deg, $color-primary-light, $color-primary-dark);
		color: white;

		@include respond-to("lg") {
			padding: 44px 29px 56px;
		}

		#{$c}__price {
			color: white;
		}
		#{$c}__specs,
		#{$c}__spec {
			border-color: $color-primary-light;
		}
		.btn {
			background: white;
			color: $color-primary-dark;

			&:hover,
			&:active {
				background: none;
				border: 1px solid white;
				color: white;
			}
		}
	}
} // end - card

// btn
// -------------------------

.btn {
	width: 100%;
	padding: 1em 0;
	border: 1px solid white;
	border-radius: 0.5em;
	background: linear-gradient(90deg, $color-primary-light, $color-primary-dark);
	font-family: $font-family;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: white;

	&:hover,
	&:active {
		background: none;
		border: 1px solid $color-neutral-dark;
		color: $color-primary-dark; 
	}
}

// helpers
// -------------------------

.hidden {
	display: none;
}

// states
// -------------------------
